<% provide(:title, "About") %>
<h1>About</h1>

<p>
	The <a href="https://www.railstutorial.org/">Rails Tutorial</a> part of the <a href="https://www.learnenough.com">Learn Enough</a> family of tutorials, is a <a href="https://www.railstutorial.org/book">book</a> and <a href="https://www.railstutorial.org">screencast series</a> to teach web development with Ruby on Rails.  
	This is the sample app for the tutorial.
</p>